<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
</head>

<body>
    <div>
        <h1>Borrow History</h1>
        <a th:href="@{/borrow}">Issue New Book</a>
        <table>
            <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Student Name</th>
                    <th>Borrow Date</th>
                    <th>Due Date</th>
                    <th>Return Date</th>
                    <th>Status</th>
                    <th>Actions</th>                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="BorrowHistory : ${BorrowingHistory}">
                    <td th:text="${BorrowHistory.bookTitle}"></td>
                    <td th:text="${BorrowHistory.studentFirstName} + ' ' + ${BorrowHistory.studentLastName}"></td>
                    <td th:text="${BorrowHistory.borrowDate}"></td>
                    <td th:text="${BorrowHistory.dueDate}"></td>
                    <td th:text="${BorrowHistory.returnDate}"></td>
                    <td th:text="${BorrowHistory.bookStatus}"></td>
                    <td th:if="${BorrowHistory.bookStatus == 'CHECKED_OUT'}">
                        <a th:href="@{'/borrow/return?id=' + ${BorrowHistory.BorrowHistoryid}}">Return</a>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>