<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
</head>

<body>
    <div>
        <h1>Student List</h1>
        <a th:href="@{/student/new}">Add New Student</a>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.email}"></td>
                    <td th:text="${student.phone}"></td>
                    <td th:text="${student.dateOfBirth}"></td>
                    <td th:text="${student.gender}"></td>
                    <td>
                        <a th:href="@{'/student/edit/' + ${student.phone}}">Edit</a>
                        <a th:href="@{'/student/delete/' + ${student.phone}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>